/* obama.solutions' style.css - our "universal" stylesheet for every page... i hope */

/* import things, we use SPCSS as our base/framework and Share Tech Mono as our font */
@import url('https://vanillacss.com/vanilla.css'); /* i'd like to store vanilla.css in a folder like I did with Nv1 in krisp.sdf.org but eh */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap'); /* I'd like to use IBM's font (or Terminus idk) on non-apex sites but I don't want Alyxia DMing me after 100 years just to tell me to change it */

/* normally i'd just do * but Sublime colours that with purple and it makes me feel that i did something wrong */
body{
	background-color: #191919;
	color: #E5E4E3;
	font-family: 'Share Tech Mono';
}

/* i miss c69.uk */
a {
	color: #E5E4E3;
}

a:visited {
	color: #BDB5D5;
}

a:hover {
	text-shadow: 1px 1px #efefef; /* I wanted to use 0.5px but that's cursed as fuck and this site is meant to be IE-compatible :^) */
}

/* i think it looks neat, i don't know */
hr {
	color: #646464;
}

/* broder */
body{
	border: outset;
}