---
---

<html>
  <head>
    <title>obama.solutions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      @font-face {
        font-family: "Terminus";
        src: url("https://neonette.netlify.app/fonts/Terminus.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
      }
  
      @font-face {
        font-family: "Terminus";
        src: url("https://neonette.netlify.app/fonts/Terminus-Bold.ttf") format("truetype");
        font-weight: bold;
        font-style: normal;
      }
  
      @font-face {
        font-family: "Terminus";
        src: url("https://neonette.netlify.app/neonette/fonts/Terminus-Italic.ttf") format("truetype");
       font-weight: normal;
       font-style: italic;
     }
  
      @font-face {
        font-family: "Terminus";
        src: url("https://neonette.netlify.app/neonette/fonts/Terminus-Bold-Italic.ttf") format("truetype");
        font-weight: bold;
        font-style: italic;
      }
      *{
        /* cope i don't give a shit */
        background-color: black;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <img src="../public/obama.gif">
    <article>
    	<slot />
    </article>
    <footer>🄯 Obama Solutions · Yes, We practically ripped off <a href="https://uwu.network">uwu.network</a> but we don't care :3 · 20220813</footer>
  </body>
</html>